assets
styles/styles.css.map
testing.html
bulma
resources
server.php
!portfolio/php-finale/final/server.php
working_files
credentials.php
.idea
images
adminer.php
cut-js.js
index-old.php
styles/old-styles.css
android-chrome-192x192.png
android-chrome-512x512.png
favicon-16x16.png
favicon.ico
favicon-32x32.png
apple-touch-icon.png
project-notes.txt
