assets
server.php
!portfolio/php-finale/final/server.php
credentials.php
.idea
images
adminer.php
android-chrome-96x96.png
android-chrome-192x192.png
android-chrome-512x512.png
favicon-16x16.png
favicon.ico
favicon-32x32.png
apple-touch-icon.png
mstile-150x150.png
safari-pinned-tab.svg
!portfolio/rorystories/assets
database-credentials.php