//define neutral colors
$black: #000;
$blue-dark: #0d1330;
$gray-light: #e8e8ee;
$white: #fff;
$white-light: #f8f8fa;

//define colors
$blue-shadow: #bcc5f4;
$blue-light: #aeb9f5;
$blue-on-dark: #6e81ed;
$blue-on-light: #3651e7;
$yellow: #ffe373;
$yellow-light: #fdf1b4;

//define fonts
$heading-family: "Fredoka One", "Brush Script MT", cursive;
$heading-size-large: 3.75rem;
$heading-size-normal: 1.75rem;
$heading-size-small: 1.25rem;
$text-family: "Mali", "Verdana", sans-serif;
$text-size-large: 1.25rem;
$text-size-normal: 1rem;
$text-size-small: 0.875rem;

.hidden {
  display: none;
}

#addedMessage {
  background-color: $yellow-light;
  border: 2px solid $yellow;
  padding: 5px;
  border-radius: 5px;
  width: 150px;
  margin: 0 auto;
  position: relative;
  bottom: 20px;
}

#cart {
  width: 260px;
  float: right;
  position: absolute;
  right: 25px;
  text-align: center;
  background-color: $blue-dark;
  color: $white-light;
  padding: 15px;
  border-radius: 0 0 10px 10px;
}

#cart img {
  float: left;
  height: 75px;
  width: 75px;
  border-radius: 5px;
}

#cart input {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-color: $white-light;
  color: $blue-dark;
  border: 1px solid $blue-on-dark;
  text-align: center;
  display: inline;
}

#cart button {
  background-color: $blue-light;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 25px;
  min-width: 50px;
}

#cart button:hover {
  background-color: $blue-on-dark;
}

#cart hr {
  margin: 10px 15px;
  background-color: $white-light;
  height: 3px;
}

#cart .title {
  font-family: $heading-family;
  padding: 5px 0;
}

#total p {
  text-align: left;
}

#total p:last-of-type {
  margin-top: 10px;
}

#total span {
  float: right;
}

#cart #save {
  background-color: $yellow-light;
  min-width: 100px;
  margin-top: 15px;
}

#cart #save:hover {
  background-color: $yellow;
}

#cart .checkout {
  font-size: $text-size-normal;
  background-color: $blue-on-dark;
  border-radius: 2px;
  color: $white-light;
  padding: 10px;
  margin-top: 10px;
}

#cart .checkout:hover {
  background-color: $blue-on-light;
}
