/*my screen res: 1920 x 1080 (I will not be adjusting design for different screens within the scope of this project)
color scheme: warm yellows and soft pinks, with blue touches to stand out (subtle, pastel)*/

/* /////////////////////////////////////////////////////////////////////////////
////////////DEFAULT PAGE STYLES////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////// */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
  background-color: #8f8793;
  min-height: 100%;
  font-size: 125%;
}


header {
  height: 100px;
  background-color: #ece5ae;
}

.success {
  /*Welcome message when user first logs in*/
  width: 20%;
  float: left;
  height: 100px;
  text-align: center;
  line-height: 30px;
  padding: 20px 0;
}

#head {
  width: 60%;
  text-align: center;
  padding: 20px 10px 10px 10px;
  float: left;
  height: 100px;
}

.welcome-logout {
  /*Message showing user they are logged in and a link to log out*/
  width: 20%;
  float: right;
  height: 100px;
  text-align: center;
  padding: 20px 0;
  background-color: #fff8c3;
  border: 10px solid #ece5ae;
  border-width: 10px 50px;
}

a {
  color: #36293e;
}

nav {
  clear: both;
  background-color: white;
  font-family: Verdana, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

nav li{
  text-align: center;
  float: left;
  width: 20%;
  margin: 0 auto;
  border: 2px solid #8f8793;
  border-width: 2px 0;
  list-style-type: none;
  background-color: white;
}

nav a {
  display: block;
  width: 100%;
  padding: 5px 0;
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: #fff8c3;
}

.here {
  /*the link to the page ur on in the nav*/
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 10%);
}

#wrapper {
  width: 70%;
  margin: 0 auto;
}

main {
  float: left;
  width: 70%;
  padding: 10px;
  background-color: #f1bfd4;
  border-right: 3px solid #8f8793;
  min-height: 782px;
  overflow: hidden;
}

main h2 {
  text-align: center;
  padding-bottom: 5px;
}

main h3 {
  text-align: center;
  padding: 5px;
}

aside {
  width: 30%;
  float: right;
  padding: 10px;
  min-height: 650px;
  background-color: #f1d684;
  overflow: hidden;
}

img {max-width: 100%;}

#homeimg {
  /*div holding random img on home page */
  width: 907px;
}

.random {
  /*randomly generated image*/
  max-width: 90%;
  display: block;
  margin: 0 auto;
  max-height: 500px;
}

footer {
  clear: both;
  border-top: 2px solid hsl(280, 8%, 58%);
  height: 50px;
  line-height: 50px;
  background-color: #ece5ae;
}

footer ul {
  width: 70%;
  margin: 0 auto;
}

footer li {
  float: left;
  list-style-type: none;
  padding: 0 5px;
  width: 20%;
  text-align: center;
}

/*FORMS*/

fieldset {
  width: 75%;
  margin: 10px auto;
  padding: 20px;
  background-color: #ffdaea;
  border: 1px solid #8f8793;
}

label {
  display: block;
  padding-left: 200px;
}

input {
  display: block;
  width: 50%;
  margin: 5px auto;
  border: 1px solid #8f8793;
}


/* ///////////////////////////////////////////////////////////////////////////////////
////////////////////PAGE SPECIFIC STYLES//////////////////////////////////
/////////////////////////////////////////////////////////////////////////////// */

.home {
  /*index page*/
}

#me {
  /*div holding info about me on index page*/
}

#me img {
  width: 50%;
  float: left;
  padding-right: 5px;
}

#me p {
  float: right;
  width: 50%;
  border: 2px solid #8f8793;
  border-radius: 3px;
  padding: 5px;
  margin-top: 125px;
}

.about img {
  border: 1px solid black;
  background-color: lightgray;
}

.daily img{
  /*daily/best practices page*/
  display: block;
  max-width: 90%;
  margin: 0 auto;
}

.portfolio ul {
  list-style-type: none;
  margin-left: 25px;
  margin-top: 10px;
}

.view img{
  /*product-view page*/
  display: block;
  max-width: 90%;
  margin: 0 auto;
  background-color: white;
  max-height: 500px;
}

.contact {
  /*contact form page*/
}

.contact label {
  font-weight: bold;
}

.contact select {
  display: block;
  width: 50%;
  margin: 0 auto;
  font-size: .8em;
}

.contact #radios label {
  font-weight: normal;
  display: inline;
  clear: both;
}

.contact #radios input[type="radio"] {
  float: right;
}

.contact #checks label {
  font-weight: normal;
  display: inline;
  clear: both;
}

.contact #checks input[type="checkbox"] {
  display: inline;
  float: right;
}

.contact span {
  display: block;
  font-style: italic;
  color: red;
  text-align: center;
  padding-bottom: 5px;
  width: 100%;
}

.contact textarea {
  width: 75%;
  height: 150px;
  display: block;
  margin: 0 auto;
}

.thx p{
  /*contact form confirmation page*/
  text-align: center;
}

/* ///////////////////////////////////////////////////////////////////////////
/////////////////////LOGIN AND REGISTRATION FORM CSS///////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////// */

.login main{
  /*bodyclass for login page*/
  width: 100%;
  margin-top: 50px;
  padding: 15px;
}

.register main {
  /*bodyclass for registration page*/
  width: 100%;
  margin-top: 50px;
  padding: 15px;
}

.button {
    /*submit and reset buttons on register and login form*/
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid #8f8793;
    padding: 2px;
    background-color: #f1d684;
    width: 60px;
    height: 25px;
    float: right;
}

.button:hover {
  background-color: #f3eaa4;
}

.error {
    /*errors shown at bottom of register and login form*/
    display: block;
    width: 100%;
    color: red;
    font-style: italic;
    text-align: center;
}

.center {
    /*text and link to login below registration form and list to register below login form*/
    clear: both;
    font-style: italic;
    text-align: center;
}
