/*Styles for IT261 Website*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(250, 90%, 5%);
  font-family: Arial, sans-serif;
}

.inner main {
  background-color: sandybrown;
}

/*Background-color, height, width, and floats for containers, no content yet*/

header {
  background-color: hsl(290, 100%, 10%);
  height: 150px;
}

header p {
  float: right;
  font-size: 3em;
  font-family: Georgia, serif;
  color: white;
  line-height: 150px;
}

.row {
  max-width: 1100px;
  margin: 0 auto;
}

#logo {
  width: 100px;
  margin: 20px 0 15px 0;
  border: 1px solid gray;
  border-radius: 90px;
}

nav {
  height: 50px;
  line-height: 50px;
  background-color: white;
}

nav ul {
  width: 1200px;
  margin: 0 auto;
  max-width: 100vw;
}

nav .here {
  background-color: hsl(0, 0%, 10%);
  color: white;
}

nav .here:hover {
  background-color: black;
}

nav li {
  float: left;
  list-style-type: none;
  text-align: center;
}

nav a {
  text-decoration: none;
  background-color: hsl(290, 10%, 90%);
  color: black;
  display: block;
  border: 2px solid white;
  height: 50px;
  padding: 0 5px;
  min-width: 120px;
}

nav a:hover {
  background-color: hsl(290, 13%, 82%);
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

main {
  width: 62%;
  float: left;
  background-color: hsl(210, 50%, 80%);
  padding: 10px 20px;
}

main h1 {
  font-family: Georgia, serif;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 10px;
}

main #wrap {
  border: 2px solid black;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 600px;
}

main #wrap img {
  position: absolute;
  left: 0;
  top: 0;
  width: 600px;
  height: 300px;
}

main #wrap img:hover {
  opacity: 60%;
}

main #wrap span {
  position: absolute;
  top: 200px;
  left: 5px;
  color: black;
  z-index: 2;
}

main #spacer {
  clear: both;
  padding-top: 15px;
}

main #selfie {
  border: 2px solid black;
  width: 50%;
  max-width: 600px;
  float: left;
}

main p {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  float: right;
  width: 45%;
  margin: 0 5px;
  padding: 8px;
  background-color: hsl(215, 80%, 88%);
}

main #art {
  border: 2px solid black;
  width: 45%;
  float: right;
  margin: 20px 5px 0 5px;
}

aside {
  width: 35%;
  float: right;
  background-color: hsl(330, 80%, 85%);
  padding: 10px 0;
}

aside h2 {
  text-align: center;
  font-size: 1.2em;
}

aside ul {
  list-style-type: none;
  padding-left: 30px;
}

aside img {
  display: block;
  width: calc(100% - 20px);
  margin: 10px;
  border: 2px solid black;
}

aside img:hover {
  opacity: 70%;
}

aside .caption {
  color: black;
  display: block;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

footer {
  height: 300px;
  background-color: hsl(290, 100%, 10%);
  clear: both;
}

.copyright {
  height: 50px;
  line-height: 50px;
  background-color: hsl(290, 10%, 90%);
}

.copyright li {
  float: left;
  list-style-type: none;
  margin-right: 30px;
}

/*CURRENCY FORM css*/
.currency-form .main-wrapper {
  background-color: hsl(0, 5%, 95%);
  padding: 10px 0;
}
.currency-form form {
  width: 350px;
  margin: 0 auto;
  font-family: helvetica;
  background-color: white;
}

.currency-form h1 {
  text-align: center;
  font-family: helvetica;
}

.currency-form .green {
  color: green;
  text-align: center;
}

.currency-form .red {
  color: red;
  text-align: center;
}

.currency-form ul {
  list-style-type: none;
}

.currency-form input {
  margin-bottom: 10px;
}

.currency-form input[type="text"] {
  width: 100%;
}

.currency-form input[type="submit"] {
  float: left;
  padding: 2px;
  margin: 5px;
}

.currency-form p a {
  float: right;
  margin: 5px;
}

.currency-form fieldset {
  color: #666;
  padding: 10px 15px 10px 10px;
}

.currency-form label {
  display: block;
  margin-bottom: 5px;
}

.currency-form .box {
  width: 600px;
  margin: 20px auto;
  background-color: beige;
  padding: 20px;
  border: 1px solid green;
  font-family: helvetica;
}

.currency-form select {
  margin-bottom: 10px;
}

.currency-form span {
  display: block;
  color: red;
  font-style: italic;
}

@media screen and (max-width: 1050px) {
  .copyright {
    height: 100px;
  }

  .portal main #art, .portal main p, .portal main #wrap {
    width: 100%;
    max-width: 600px;
    margin: 5px auto;
  }

  .portal main #selfie {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 10px auto;
    display: block;
    float: unset;
  }
}

@media screen and (max-width: 600px) {
  .copyright {
    height: 150px;
  }
  
  main #wrap img {
    opacity: 60%;
  }
}