/*CSS color variables*/
:root {
    --black: #080808;
    --black-true: #000000;
    --blue-darkest: #000222;
    --orange-dark: #D27200;
    --orange-darkest: #422400;
    --yellow: #FFCB3B;
    --yellow-light: #ffe08c;
    --yellow-lightest: #FDF2D2;
    --gray-warm-light: #eae9b8;
    --gray-warm-mid: #d1c091;
    --white: #F7F7F7;
    --white-true: #ffffff;
}

.hero-container .button {
    text-decoration: none;
    border: 2px solid var(--yellow);
    border-radius: 10px;
    background-color: var(--yellow-light);
    height: 44px;
    width: 100px;
    position: absolute;
    bottom: 89px;
    display: block;
    color: var(--blue-darkest);
    right: 30px;
    text-align: center;
    line-height: 44px;
    font-size: 1.125rem;
}

.hero-container .button:last-of-type {
    bottom: 30px;
}

.hero-container .button:hover {
    background-color: var(--yellow-lightest);
    border-color: var(--yellow-light);
}

/*TABLET STYLES//////////////////////////////////////////*/

@media only screen and (min-width: 580px) {
    .hero-container .button {
        bottom: 100px;
        right: 225px;
    }

    .hero-container .button:last-of-type {
        bottom: 100px;
        right: 100px;
    }
}

@media only screen and (min-width:1080px) {
    .hero-container .button {
        bottom: 11vw;
        right: 25vw;
        margin-right: 150px;
    }

    .hero-container .button:last-of-type {
        bottom: 11vw;
        right: 25vw;
        margin-right: 0;
    }
}