/*CSS color variables*/
:root {
    --black: #080808;
    --black-true: #000000;
    --blue-darkest: #000222;
    --orange-dark: #D27200;
    --orange-darkest: #422400;
    --yellow: #FFCB3B;
    --yellow-light: #ffe08c;
    --yellow-lightest: #FDF2D2;
    --gray-warm-light: #eae9b8;
    --gray-warm-mid: #d1c091;
    --white: #F7F7F7;
    --white-true: #ffffff;
}

/*Remove color styles for nav, etc - use Bulma spacing control if possible at least from mobile up*/

html {
    font-size: 16px;
}

body {
    font-family: Asap, Arial, sans-serif;
}

h1, h2, h3 {
   font-family: Volkhov, Garamond, serif;
}

a {
    text-decoration: underline;
}

a.button {
    text-decoration: none;
}

.mobile-hidden {
    display: none !important;
}

.left {float: left;}

header {
    padding: 10px;
    overflow: hidden;
}

header .logo {
    float: left;
    height: 64px;
    width: 64px;
}

header .site-title {
    font-weight: bold;
    font-size: 1.625rem;
    display: block;
    padding: 0 8px;
    height: 60px;
    line-height: 60px;
    float: left;
}

/*menu toggle button*/
header .menu-toggle {
    border-radius: 5px;
    background-color: var(--blue-darkest);
    width: 60px;
    height: 60px;
    float: right;
    padding: 17px 0;
    margin: 2px 0;
}

header .menu-toggle hr {
    width: 34px;
    margin: 0 auto;
    background-color: var(--yellow);
    height: 2px;
}

header .menu-toggle hr:nth-of-type(2) {
    margin: 10px auto;
}

/*header styles*/

header .site-tagline {
    padding-top: 5px;
    clear: both;
    text-align: center;
    font-size: 1.125rem;
}

header nav ul {
    width: 180px;
    margin: 10px auto;
    border: 1px solid var(--yellow-light);
    border-radius: 5px;
    display: none;
}

header nav li {
    width: 100%;
    height: 44px;
    list-style-type: none;
    font-size: 1.125rem;
    border-bottom: 2px solid var(--yellow-light);
    overflow: hidden;
}

header nav li a {
    display: block;
    line-height: 44px;
    text-decoration: none;
    text-align: center;
    height: 100%;
}

header nav .active-page a {
    color: var(--white);
    background-color: var(--orange-darkest);
}

header nav .active-page a:hover {
    background-color: var(--black);
    color: var(--white-true);
}

/*must change class name if want use*/
/* .button {
    display: block;
    text-decoration: none;
    border: 2px solid var(--yellow);
    border-radius: 10px;
    background-color: var(--yellow-light);
    height: 44px;
    width: 100px;
    color: var(--blue-darkest);
    text-align: center;
    line-height: 44px;
    font-size: 1.125rem;
}

.button:hover {
    background-color: var(--yellow-lightest);
    border-color: var(--yellow-light);
} */

/*main content styles*/

.hero-container {
    width: 100%;
    position: relative;
}

.hero {
    width: 100%;
    height: auto;
    max-width: 2000px;
}

.hero-text {
    position: absolute;
    top: 0;
    padding: 10px;
    max-width: 100%;
}

main .main-content {
    width: 100%;
    padding: 10px;
}

.buttons-row {
    width: 300px;
    margin: 10px auto 15px auto;
    height: 44px;
    display: block;
}

.buttons-row .button {
    width: 100px;
    float: left;
    margin: 0 25px;
}

footer {
    padding: 10px;
}

footer ul {
    width: fit-content;
    margin: 0 auto;
}

/*TABLET STYLES//////////////////////////////////////////*/
@media only screen and (min-width: 766px) {
    .mobile-only {
        display: none !important;
    }

    .mobile-hidden {
        display: inline-block !important;
    }

    /*header styles*/
    
    header {
        padding: 15px;
    }

    header .logo {
        height: 100px;
        width: 100px;
    }

    header .site-title {
        line-height: 85px;
        float: none;
    }

    header .site-tagline {
        clear: none;
        text-align: left;
        padding: 0 0 0 5px;
        float: none;
    }

    header nav ul {
        border: none;
        width: auto;
        float: right;
        margin-top: 55px;
        display: block;
    }

    header nav li {
        display: block;
        float: left;
        width: unset;
        border-radius: 5px;
        margin: 0 5px;
        padding: 0 10px;
    }

    header nav li a {
        border-bottom: 2px solid var(--yellow-light);
    }

    /*main content styles*/

    .hero-text {
        width: 650px;
        padding: 15px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    main .main-content {
        padding: 15px;
    }

    footer {
        padding: 15px;
    }
}

/*LAPTOP STYLES//////////////////////////*/

@media only screen and (min-width:861px) {
    header {
        padding: 15px 30px;
    }

    header .logo {
        width: 125px;
        height: 125px;
    }

    header nav ul {
        margin-top: 50px;
    }

    main .main-content {
        padding: 15px 30px;
    }

    footer {
        padding: 15px 30px;
    }
}

/*DESKTOP STYLES//////////////////////////*/

@media only screen and (min-width: 1080px) {
    .sticky {
        position: sticky;
        top: 0;
    }

    header {
        padding: 15px 10vw;
    }

    .hero-text {
        font-size: 1.125rem;
        width: 700px;
    }

    main .main-content {
        padding: 15px 10vw;
    }

    footer {
        padding: 15px 10vw;
    }
}

/*TODO: Change small image max width and res to 760px