/*CSS color variables*/
:root {
    --white: #ffffff;
    --black: #000000;
    --blue-darkest: #000222;
    --blue: #080D5F;
    --blue-light: #123592;
    --blue-lighter: #9CD5FF;
    --blue-lightest: #CAF5FF;
    --off-white: #FFF5F1;
    --off-white-darker: #FFF5D0;
    --yellow: #FFE190;
    --yellow-strong-dark: #FCB937;
    --yellow-strong: #FFD35A;
    --yellow-strong-light: #FFF06D;
    --yellow-light: #FDFFAD;
    --brown-dull: #E5CF8C;
    --brown-dull-light: #EBD89D;
    --red: #BD2319;
    --red-dark: #960000;
    --red-light: #D93620;
    --red-lighter: #FF9078;
    --red-lightest: #ffa883;
    --orange: #ffb375;
    --brown-dark: #250B02;
    --brown-light: #6E4128;
    --gray: #55433E;
    --gray-light: #ccb5ad;
    --brown: #4D281C;

    /*on dark bgs, hover should be lighter; on light bgs, hover should be darker.*/
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    background-color: var(--off-white);
}

html.dark-mode {
    background-color: var(--black);
}

body {
    font-family: Asap, Arial, sans-serif;
    overflow-x: hidden;
    background-color: var(--off-white);
    color: var(--black);
}

.dark-mode body {
    background-color: var(--black);
    color: var(--off-white);
}

h1, h2, h3, .title {
    font-family: Volkhov, Garamond, serif;
    color: var(--brown);
}

.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode .title {
    color: var(--off-white-darker);
} 

h1 {
    margin: 15px;
}

a {
    text-decoration: underline;
    color: var(--blue-light);
}

.dark-mode a {
    color: var(--blue-lighter);
}

a:hover {
    color: var(--blue);
}

.dark-mode a:hover {
    color: var(--blue-lightest);
}

a.button {
    text-decoration: none;
}

.hero-container .button {
    border-color: var(--off-white);
}

.button {
    border-color: var(--brown-dark);
    background-color: var(--brown);
    color: var(--off-white);
    border-radius: 5px;
}

.dark-mode .hero-container .button {
    background-color: var(--brown);
    color: var(--off-white);
    border-radius: 5px;
}

.dark-mode .button {
    background-color: var(--yellow-strong);
    color: var(--brown-dark);
    border-color: var(--yellow-strong-dark);
}

.button:hover {
    background-color: var(--brown-dark);
    color: var(--white);
    border-color: var(--black);
}

.dark-mode .button:not(.hero-container .button):hover {
    background-color: var(--yellow-strong-light);
    color: var(--black);
    border-color: var(--yellow-strong-dark);
}

.button.urgent {
    background-color: var(--red);
    border-color: var(--brown-light);
}

.dark-mode .button.urgent {
    background-color: var(--red-lighter);
    border-color: var(--red-light);
}

.button.urgent:hover {
    background-color: var(--red-dark);
    border-color: var(--brown);
}

.dark-mode .button.urgent:hover {
    background-color: var(--red-lightest)!important; 
    border-color: var(--red-light)!important;
}

.mobile-hidden {
    display: none !important;
}

.left {
    float: left;
}

.no-underline {
    text-decoration: none;
}

header {
    padding: 10px;
    overflow: hidden;
    background-color: var(--brown);
}

header .logo {
    float: left;
    height: 64px;
    width: 64px;
    border: 1px solid var(--off-white);
    border-radius: 90px;
}

.dark-mode header .logo {
    border-color: var(--black);
}

header .logo:hover {
    filter: brightness(115%);
}

header .site-title {
    font-weight: bold;
    font-size: 1.625rem;
    display: block;
    padding: 0 8px;
    height: 60px;
    line-height: 60px;
    float: left;
    color: var(--yellow-strong);
}

header .site-title:hover {
    color: var(--yellow-strong-light);
}

/*menu toggle button*/
header .menu-toggle {
    border-radius: 5px;
    background-color: var(--yellow-strong);
    width: 60px;
    height: 60px;
    float: right;
    padding: 17px 0;
    margin: 2px 0;
}

header .menu-toggle:hover {
    background-color: var(--yellow-strong-light);
}

header .menu-toggle hr {
    width: 34px;
    margin: 0 auto;
    background-color: var(--brown);
    height: 2px;
}

header .menu-toggle hr:nth-of-type(2) {
    margin: 10px auto;
}

/*header styles*/

header .site-tagline {
    padding-top: 5px;
    clear: both;
    text-align: center;
    font-size: 1.125rem;
    color: var(--off-white);
}

header nav ul {
    width: 180px;
    margin: 10px auto;
    border-radius: 5px;
    display: none;
}

header nav li {
    width: 100%;
    height: 44px;
    list-style-type: none;
    font-size: 1.125rem;
    border: 2px solid var(--yellow-strong);
    background-color: var(--yellow);
    overflow: hidden;
}

header nav li a, #dark-mode-toggle {
    display: block;
    line-height: 44px;
    text-decoration: none;
    text-align: center;
    height: 100%;
    color: var(--black);
}

.dark-mode header nav li a, .dark-mode header nav li a:hover {
    color: var(--black);
}

#dark-mode-toggle {
    margin: 5px 0;
    height: 44px;
    background-color: var(--red-lighter);
    border-color: var(--red-light);
}

#dark-mode-toggle:hover {
    background-color: var(--red-lightest);
}

header nav li a:hover, #dark-mode-toggle {
    color: var(--black);
}

header nav li:hover {
    background-color: var(--yellow-light);
}

header nav .active-page {
    background-color: var(--brown-dull);
}

header nav .active-page a {
    color: var(--black);
}

header nav .active-page:hover {
    background-color: var(--brown-dull-light);
}

header nav .nav-dropitem-mobile {
    height: 34px;
    width: 150px;
    margin: 0 auto;
    background-color: var(--yellow-strong);
}

header nav .nav-dropitem-mobile a {
    line-height: 34px;
}

header nav .nav-dropitem-mobile:hover {
    background-color: var(--yellow-strong-light);
}

header nav #nav-dropitem-tablet {
    position: absolute;
    margin: 0 auto;
    display: none;
}

header nav #nav-dropitem-tablet li {
    height: 34px;
    border: none;
    background-color: var(--yellow-strong);
}

header nav #nav-dropitem-tablet a {
    line-height: 34px;
}

header nav #nav-dropitem-tablet li:hover {
    background-color: var(--yellow-strong-light);
}

/*main content styles*/
main {
    overflow: hidden;
}

.hero-container {
    width: 100%;
    position: relative;
}

.is-overlay {
    background-color: var(--gray);
    opacity: 60%;
}

.hero, .hero img {
    width: 100%;
    height: auto;
    max-width: 2000px;
    margin: 0 auto;
}

.hero-text {
    position: absolute;
    top: 0;
    padding: 10px;
    max-width: 100%;
    color: var(--white);
}

.dark-mode .hero-text {
    color: var(--white);
}

.hero-text a {
    color: var(--white);
}

.hero-text a:hover {
    color: var(--white);
}

main .main-content {
    width: 100%;
    padding: 10px 10px 0 10px;
}

.dark-mode .main-content picture:not(a picture) {
    filter: brightness(90%);
}

.dark-mode .main-content .dark-image:not(a picture) {
    filter: brightness(100%);
}

a picture:hover, .resume-img {
    filter: brightness(105%);
}

.dark-image:hover {
    filter: brightness(110%);
}

.dark-mode a picture, .dark-mode .resume-img {
    filter: brightness(90%);
}

.dark-mode .dark-image {
    filter: brightness(100%);
} 

.dark-mode a picture:hover, .dark-mode .resume-img:hover {
    filter: brightness(95%);
}

.dark-mode .dark-image:hover {
    filter: brightness(110%);
}

.buttons-row {
    width: 200px;
    margin: 10px auto 15px auto;
    height: 44px;
    display: block;
}

.buttons-row.three {
    width: 300px;
}

.buttons-row .button {
    width: 80px;
    float: left;
    margin: 0 10px;
}

.small-image, .small-image img {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
}

.large-image, .large-image img {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

.project-card span {
    font-size: .875rem;
    color: var(--gray);
}

.dark-mode .project-card span {
    color: var(--gray-light);
}

.project-card a {
    text-decoration: none;
    color: var(--black);
}

.dark-mode .project-card a {
    color: var(--off-white);
}

.dark-mode .project-card a:hover {
    color: var(--off-white);
}

.aside {
    background-color: var(--yellow);
    padding-bottom: 50px;
}

.dark-mode .aside {
    background-color: var(--brown);
}

.contact-icons svg {
    color: var(--brown);
}

.dark-mode .contact-icons svg {
    color: var(--yellow-strong);
}

.contact-icons svg:hover {
    color: var(--black);
}

.dark-mode .contact-icons svg:hover {
    color: var(--yellow-strong-light);
}

form .input, form .textarea {
    background-color: var(--off-white);
    color: var(--black);
}

form .label {
    color: var(--brown);
}

.dark-mode form .input, .dark-mode form .textarea {
    background-color: var(--black);
    color: var(--off-white);
}

.dark-mode form .label {
    color: var(--off-white-darker);
}

footer {
    padding: 10px;
    background-color: var(--brown);
    color: var(--off-white);
}

footer ul {
    width: fit-content;
    margin: 0 auto;
}

footer a, .dark-mode footer a {
    color: var(--off-white);
}

footer a:hover, .dark-mode footer a:hover {
    color: var(--white);
}

footer p {
    margin-top: 10px;
}

/*page specific styles*/
.home .hero-container .button {
    position: absolute;
    bottom: 89px;
    right: 30px;
}

.home .hero-container .button:last-of-type {
    bottom: 30px;
}

.portfolio-detail .hero-container .button {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.portfolio-detail .hero-container .button:first-of-type {
    right: 155px;
}

.portfolio-detail .block ul {
    margin-left: 10px;
}

.portfolio-detail .block ul li {
    list-style-type: disc;
}

.portfolio-detail .has-text-centered {
    display: block;
}

.portfolio-detail .my-main {
    max-width: 650px;
    margin: 0 auto;    
}

.portfolio-detail .tags-div {
    margin: 10px auto;
    width: fit-content;
    background-color: var(--yellow);
    text-align: center;
    max-width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.dark-mode .portfolio-detail .tags-div {
    background-color: var(--brown);
    color: var(--off-white);
}

.portfolio-detail .process-steps {
    background-color: var(--orange);
    border-radius: 5px;
    padding: 10px;
}

.portfolio-detail .my-main .small-image img {
    margin: 15px auto;
    clear: both;
    display: block;
}

.portfolio-detail .my-main ul .small-image img {
    margin: 5px auto;
}

.dark-hero .hero-text {
    color: var(--off-white);
}

.hire .resume-img {
    display: block;
    height: 372px;
    width: 300px;
    margin: 0 auto;
}

.resume .absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.resume .hero-text {
    position: static;
}

.resume .hero-container .button {
    display: block;
    margin: 0 auto 10px auto;
    width: 100px;
    padding: 0;
    text-align: center;
    height: 44px;
    line-height: 44px;
}

.resume .resume-div {
    background-color: var(--off-white-darker);
    color: var(--black);
    padding: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.dark-mode .resume-div {
    background-color: var(--brown-dark);
    color: var(--off-white);
}

@media only screen and (min-width: 500px) {
    .portfolio-detail .tags-div {
        float: left;
        margin: 10px;
    }
}

/*TABLET STYLES*/

@media only screen and (min-width: 769px) {
    .mobile-only {
        display: none !important;
    }

    .mobile-hidden {
        display: inline-block !important;
    }

    /*header styles*/
    
    header {
        padding: 15px;
    }

    header .logo {
        height: 100px;
        width: 100px;
    }

    header .site-title {
        line-height: 85px;
        float: none;
    }

    header .site-tagline {
        clear: none;
        text-align: left;
        padding: 0 0 0 5px;
        float: none;
    }

    header nav ul {
        border: none;
        width: auto;
        float: right;
        margin-top: 55px;
        display: block;
    }

    header nav li {
        display: block;
        float: left;
        width: unset;
        border-radius: 5px;
        margin: 0 5px;
    }

    header nav li a, #dark-mode-toggle {
        padding: 0 10px;
    }

    #dark-mode-toggle {
        margin: 0 5px;
    }

    /*main content styles*/

    .hero-text {
        width: 650px;
        padding: 15px;
    }

    .hero-text:not(.resume .hero-text) {
        left: 50%;
        transform: translate(-50%, 0);
    }

    main .main-content {
        padding: 30px 15px 0 15px;
    }

    .buttons-row {
        width: 300px;
    }

    .buttons-row.three {
        width: 450px;
    }
    
    .buttons-row .button {
        margin: 0 25px;
        width: 100px;
    }

    footer {
        padding: 15px;
    }

    footer p {
        margin: 0;
    }

    /*page specific styles*/
    .home .hero-container .button, .portfolio-detail .hero-container .button:first-of-type {
        bottom: 100px;
        right: 225px;
    }

    .home .hero-container .button:last-of-type, .portfolio-detail .hero-container .button {
        bottom: 100px;
        right: 100px;
    }

    .portfolio-detail .desktop-margin {
        margin-top: 20px;
    }

    .portfolio-detail .desktop-margin-small {
        margin-top: 10px;
    }

    .resume .hero-text {
        margin: 0 auto;
    }
}

/*LAPTOP STYLES*/

@media only screen and (min-width:861px) {
    header {
        padding: 15px 30px;
    }

    header .logo {
        width: 125px;
        height: 125px;
    }

    header nav ul {
        margin-top: 50px;
    }

    main .main-content {
        padding: 30px 30px 0 30px;
    }

    footer {
        padding: 15px 30px;
    }
}

/*DESKTOP STYLES*/

@media only screen and (min-width: 1024px) {
    header {
        padding: 15px 5vw;
    }

    .hero-text {
        font-size: 1.125rem;
        width: 700px;
    }

    main .main-content {
        padding: 30px 5vw 0 5vw;
    }

    .aside {
        margin-bottom: 50px;
    }

    footer {
        padding: 15px 5vw;
    }

    /*page specific styles*/
    .home .hero-container .button, .portfolio-detail .hero-container .button:first-of-type {
        bottom: 11vw;
        right: 25vw;
        margin-right: 150px;
    }

    .home .hero-container .button:last-of-type, .portfolio-detail .hero-container .button {
        bottom: 11vw;
        right: 25vw;
        margin-right: 0;
    }

    .resume .hero-container .columns {
        max-width: 900px;
        margin: 0 auto;
    }
}

/*STUPID BIG STYLES*/
@media only screen and (min-width: 1500px) {
    .portfolio-detail .my-main {
        max-width: 760px;
        margin: 0 auto;    
    }

    .portfolio-detail .my-main img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .portfolio-detail .my-main ul {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .portfolio-detail .desktop-margin {
        margin-top: 50px;
    }

    .portfolio-detail .desktop-margin-small {
        margin-top: 25px;
    }
}