/*CSS color variables*/
:root {
    --black: #080808;
    --black-true: #000000;
    --blue-darkest: #000222;
    --orange-dark: #D27200;
    --orange-darkest: #422400;
    --yellow: #FFCB3B;
    --yellow-light: #ffe08c;
    --yellow-lightest: #FDF2D2;
    --gray-warm-light: #eae9b8;
    --gray-warm-mid: #d1c091;
    --white: #F7F7F7;
    --white-true: #ffffff;
}

/*Remove color styles for nav, etc - use Bulma spacing control if possible at least from mobile up*/

html {
    font-size: 16px;
}

body {
    font-family: Asap, Arial, sans-serif;
    overflow-x: hidden;
}

h1, h2, h3 {
   font-family: Volkhov, Garamond, serif;
}

a {
    text-decoration: underline;
}

a.button {
    text-decoration: none;
}

.mobile-hidden {
    display: none !important;
}

.left {float: left;}

header {
    padding: 10px;
    overflow: hidden;
}

header .logo {
    float: left;
    height: 64px;
    width: 64px;
}

header .site-title {
    font-weight: bold;
    font-size: 1.625rem;
    display: block;
    padding: 0 8px;
    height: 60px;
    line-height: 60px;
    float: left;
}

/*menu toggle button*/
header .menu-toggle {
    border-radius: 5px;
    background-color: var(--blue-darkest);
    width: 60px;
    height: 60px;
    float: right;
    padding: 17px 0;
    margin: 2px 0;
}

header .menu-toggle hr {
    width: 34px;
    margin: 0 auto;
    background-color: var(--yellow);
    height: 2px;
}

header .menu-toggle hr:nth-of-type(2) {
    margin: 10px auto;
}

/*header styles*/

header .site-tagline {
    padding-top: 5px;
    clear: both;
    text-align: center;
    font-size: 1.125rem;
}

header nav ul {
    width: 180px;
    margin: 10px auto;
    border: 1px solid var(--yellow-light);
    border-radius: 5px;
    display: none;
}

header nav li {
    width: 100%;
    height: 44px;
    list-style-type: none;
    font-size: 1.125rem;
    border-bottom: 2px solid var(--yellow-light);
    overflow: hidden;
}

header nav li a {
    display: block;
    line-height: 44px;
    text-decoration: none;
    text-align: center;
    height: 100%;
}

header nav .active-page a {
    color: var(--white);
    background-color: var(--orange-darkest);
}

header nav .active-page a:hover {
    background-color: var(--black);
    color: var(--white-true);
}

header nav .nav-dropitem-mobile {
    background-color: var(--yellow-light);
    position: relative;
    left: 25px;
}

header nav #nav-dropitem-tablet {
    background-color: var(--yellow-light);
    position: absolute;
    margin: 0 auto;
    border-radius: 0 0 5px 5px;
    display: none;
    transform: translate(-8px, 0);
}

/*header nav .nav-dropdown:hover + #nav-dropitem {
    display: block;
} */

/*must change class name if want use*/
/* .button {
    display: block;
    text-decoration: none;
    border: 2px solid var(--yellow);
    border-radius: 10px;
    background-color: var(--yellow-light);
    height: 44px;
    width: 100px;
    color: var(--blue-darkest);
    text-align: center;
    line-height: 44px;
    font-size: 1.125rem;
}

.button:hover {
    background-color: var(--yellow-lightest);
    border-color: var(--yellow-light);
} */

/*main content styles*/

.hero-container {
    width: 100%;
    position: relative;
}

.hero, .hero img {
    width: 100%;
    height: auto;
    max-width: 2000px;
    margin: 0 auto;
}

.hero-text {
    position: absolute;
    top: 0;
    padding: 10px;
    max-width: 100%;
}

main .main-content {
    width: 100%;
    padding: 10px;
}

.buttons-row {
    width: 200px;
    margin: 10px auto 15px auto;
    height: 44px;
    display: block;
}

.buttons-row.three {
    width: 300px;
}

.buttons-row .button {
    width: 80px;
    float: left;
    margin: 0 10px;
}

.small-image, .small-image img {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
}

.large-image, .large-image img {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

footer {
    padding: 10px;
}

footer ul {
    width: fit-content;
    margin: 0 auto;
}

/*page specific styles*/
.home .hero-container .button {
    position: absolute;
    bottom: 89px;
    right: 30px;
}

.home .hero-container .button:last-of-type {
    bottom: 30px;
}

.hire .resume-img {
    display: block;
    height: 372px;
    width: 300px;
    margin: 0 auto;
}

.resume .absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.resume .hero-text {
    position: static;
}

.resume .hero-container .button {
    display: block;
    margin: 0 auto 10px auto;
    width: 100px;
    padding: 0;
    text-align: center;
    height: 44px;
    line-height: 44px;
}

.resume .hero-container .button:nth-of-type(3) {
    margin: 0 auto;
}

.resume .resume-div {
    background-color: beige;
    color: var(--black-true);
}

.resume .resume-div.dark-mode {
    background-color: var(--black);
    color: white;
}

/*TODO: how to get resume hero buttons to display as designed, and still within the hero*/

/*TABLET STYLES//////////////////////////////////////////*/
@media only screen and (min-width: 769px) {
    .mobile-only {
        display: none !important;
    }

    .mobile-hidden {
        display: inline-block !important;
    }

    /*header styles*/
    
    header {
        padding: 15px;
    }

    header .logo {
        height: 100px;
        width: 100px;
    }

    header .site-title {
        line-height: 85px;
        float: none;
    }

    header .site-tagline {
        clear: none;
        text-align: left;
        padding: 0 0 0 5px;
        float: none;
    }

    header nav ul {
        border: none;
        width: auto;
        float: right;
        margin-top: 55px;
        display: block;
    }

    header nav li {
        display: block;
        float: left;
        width: unset;
        border-radius: 5px;
        margin: 0 5px;
        padding: 0 10px;
    }

    header nav li a {
        border-bottom: 2px solid var(--yellow-light);
    }

    /*main content styles*/

    .hero-text {
        width: 650px;
        padding: 15px;
    }

    .hero-text:not(.resume .hero-text) {
        left: 50%;
        transform: translate(-50%, 0);
    }

    main .main-content {
        padding: 15px;
    }

    .buttons-row {
        width: 300px;
    }

    .buttons-row.three {
        width: 450px;
    }
    
    .buttons-row .button {
        margin: 0 25px;
        width: 100px;
    }

    footer {
        padding: 15px;
    }

    /*page specific styles*/
    .home .hero-container .button {
        bottom: 100px;
        right: 225px;
    }

    .home .hero-container .button:last-of-type {
        bottom: 100px;
        right: 100px;
    }

    .resume .hero-text {
        margin: 0 auto;
    }
}

/*LAPTOP STYLES//////////////////////////*/

@media only screen and (min-width:861px) {
    header {
        padding: 15px 30px;
    }

    header .logo {
        width: 125px;
        height: 125px;
    }

    header nav ul {
        margin-top: 50px;
    }

    main .main-content {
        padding: 15px 30px;
    }

    footer {
        padding: 15px 30px;
    }
}

/*DESKTOP STYLES//////////////////////////*/

@media only screen and (min-width: 1024px) {
    header {
        padding: 15px 10vw;
    }

    .hero-text {
        font-size: 1.125rem;
        width: 700px;
    }

    main .main-content {
        padding: 15px 10vw;
    }

    footer {
        padding: 15px 10vw;
    }

    /*page specific styles*/
    .home .hero-container .button {
        bottom: 11vw;
        right: 25vw;
        margin-right: 150px;
    }

    .home .hero-container .button:last-of-type {
        bottom: 11vw;
        right: 25vw;
        margin-right: 0;
    }

}

/*TODO: Change small image max width and res to 760px