/*CSS color variables*/
:root {
    --black: #080808;
    --black-true: #000000;
    --blue-darkest: #000222;
    --orange-dark: #D27200;
    --orange-darkest: #422400;
    --yellow: #FFCB3B;
    --yellow-light: #ffe08c;
    --yellow-lightest: #FDF2D2;
    --gray-warm-light: #eae9b8;
    --gray-warm-mid: #d1c091;
    --white: #F7F7F7;
    --white-true: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Asap, Arial, sans-serif;
    color: var(--black);
    background-color: var(--white);
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

h1, h2, h3 {
    width: 100%;
    text-align: center;
    font-family: Volkhov, Garamond, serif;
    font-weight: bold;
}

h1 {font-size: 1.75rem;}

h2 {font-size: 1.375rem;}

h3 {
    font-size:1rem;
    text-align: left;
}

.mobile-hidden {
    display: none !important;
}

.left {float: left;}

.button {
    display: block;
    text-decoration: none;
    border: 2px solid var(--yellow);
    border-radius: 10px;
    background-color: var(--yellow-light);
    height: 44px;
    width: 100px;
    color: var(--blue-darkest);
    text-align: center;
    line-height: 44px;
    font-size: 1.125rem;
}

.button:hover {
    background-color: var(--yellow-lightest);
    border-color: var(--yellow-light);
}

/*styles for shared page styles*/
header {
    background-color: var(--gray-warm-mid);
    padding: 10px;
    overflow: hidden;
}

header .logo {
    float: left;
    height: 64px;
    width: 64px;
}

header .site-title {
    font-weight: bold;
    font-size: 1.625rem;
    display: block;
    padding: 0 8px;
    height: 60px;
    line-height: 60px;
    float: left;
}

/*menu toggle button*/
header .menu-toggle {
    border-radius: 5px;
    background-color: var(--blue-darkest);
    width: 60px;
    height: 60px;
    float: right;
    padding: 17px 0;
    margin: 2px 0;
}

header .menu-toggle hr {
    width: 34px;
    margin: 0 auto;
    background-color: var(--yellow);
    height: 2px;
}

header .menu-toggle hr:nth-of-type(2) {
    margin: 10px auto;
}

/*header styles*/

header .site-tagline {
    padding-top: 5px;
    clear: both;
    text-align: center;
    font-size: 1.125rem;
}

header nav ul {
    width: 180px;
    margin: 10px auto 0 auto;
    border: 1px solid var(--yellow-light);
    border-radius: 5px;
    border-bottom-width: 0;
    background-color: var(--yellow-lightest);
    display: none;
}

header nav li {
    width: 100%;
    height: 44px;
    list-style-type: none;
    font-size: 1.125rem;
    border-bottom: 2px solid var(--yellow-light);
    overflow: hidden;
}

header nav li a {
    background-color: var(--yellow-lightest);
    border-width: 7px 10px;
    border-style: solid;
    border-color: var(--yellow-lightest);
    color: var(--blue-darkest);
    display: block;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    height: 100%;
}

header nav li a:hover {
    color: var(--black);
    background-color: var(--yellow-light);
    border-color: var(--yellow-light);
}

header nav .active-page a {
    color: var(--white);
    background-color: var(--orange-darkest);
    margin-left: 0;
}

header nav .active-page a:hover {
    background-color: var(--black);
    color: var(--white-true);
    border-color: var(--black-true);
}

/*main content styles*/

.hero-container {
    width: 100%;
    position: relative;
}

.hero {
    width: 100%;
    height: auto;
    max-width: 2000px;
}

.hero-text {
    position: absolute;
    top: 0;
    padding: 10px;
    max-width: 100%;
}

main .main-content {
    width: 100%;
    padding: 10px;
}

.content-block {
    max-width: 650px;
    margin: 0 auto;
}

.small-image {
    margin: 5px auto;
    max-width: 650px;
    display: block;
}

.buttons-row {
    width: 300px;
    margin: 10px auto 15px auto;
    height: 44px;
    display: block;
}

.buttons-row .button {
    width: 100px;
    float: left;
    margin: 0 25px;
}

.column-3 {
    display: block;
    width: 33.33%;
    float: left;
}

.column-2 {
    display: block;
    width: 50%;
    float: left;
}

.content-block li {
    list-style-type: none;
}

/*footer styles*/
footer {
    padding: 10px;
    background-color: var(--gray-warm-mid);
    overflow: hidden;
}

footer ul {
    width: 281px;
    margin: 0 auto;
}

footer ul li {
    color: var(--blue-darkest);
    list-style-type: none;
    display: inline;
    margin: 0 5px;
    text-align: center;
    }

footer p {
    clear: both;
    text-align: center;
    padding: 5px 0 0 0;
}

/*TABLET STYLES//////////////////////////////////////////*/

@media only screen and (min-width: 580px) {
    .mobile-only {
        display: none !important;
    }

    .mobile-hidden {
        display: inline-block !important;
    }

    /*header styles*/
    
    header {
        padding: 15px;
    }

    header .logo {
        height: 100px;
        width: 100px;
    }

    header .site-title {
        line-height: 85px;
        float: none;
    }

    header .site-tagline {
        clear: none;
        text-align: left;
        padding: 0 0 0 5px;
        float: none;
    }

    header nav ul {
        border: none;
        width: auto;
        display: inline-block;
        background-color: unset;
    }

    header nav li {
        display: block;
        float: left;
        width: 90px;
        height: 32px;
        border-radius: 5px;
        margin: 0 5px;
        border-width: 0;
    }

    header nav li a {
        border-style: solid;
        border-width: 2px 0 2px 0;
        border-color: var(--yellow-lightest);
        border-bottom-color: var(--yellow-light);
        border-top-color: var(--white);
    }

    header nav .active-page a {
        border-color: var(--blue-darkest);
    }

    header nav li a:hover {
        background-color: var(--yellow-light);
        border-top-color: var(--yellow);
        border-bottom-color: var(--yellow-lightest);
    }

    /*main body styles*/
    .hero-text {
        width: 650px;
        padding: 15px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    main .main-content {
        padding: 15px;
    }
}

@media only screen and (min-width: 766px) {
    header nav ul {
        float: right;
        margin-top: 55px;
        display: block;
    }

    .content-block {
        width: calc(50% - 15px);
        max-width: 650px;
        float: left;
    }

    .content-block:nth-of-type(even) {
        float: right;
    }

    .buttons-row, h2, footer {
        clear: both;
    }

    footer ul {
        margin: 0;
        float: left;
    }

    footer p {
        float: right;
        clear: none;
        padding: 0;
    }
}

/*LAPTOP STYLES//////////////////////////*/

@media only screen and (min-width:861px) {
    header {
        padding: 15px 30px;
    }

    header .logo {
        width: 125px;
        height: 125px;
    }

    header nav ul {
        margin-top: 50px;
    }

    header nav li {
        height: 44px;
        width: 100px;
    }

    header nav li a {
        line-height: 40px;
    }

    main .main-content {
        padding: 15px 30px;
    }
}

/*DESKTOP STYLES//////////////////////////*/

@media only screen and (min-width: 1080px) {
    header {
        padding: 15px 11vw;
    }

    .hero-text {
        font-size: 1.125rem;
        width: 700px;
    }

    main .main-content {
        padding: 15px 11vw;
    }
}

/*TODO: max img size: 2000px wide, double img size for retina shit ??, do logo as svg?*/