@import url("tags.css");

.portfolio-detail li.no-bullet {
    list-style-type: none;
}

.portfolio-detail .process-steps {
    background-color: var(--medium);
    border-radius: 5px;
    padding: 10px;
}

.portfolio-detail .small-image {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
}

.portfolio-detail .small-image img {
    max-width: 760px;
    margin: 15px auto;
}

.portfolio-detail .small-image img {
    margin: 5px auto;
}

.portfolio-detail .post-row-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portfolio-detail .post-row-two section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 600px;
    width: 100%;
}

@media screen and (width > 1000px) {
    .portfolio-detail .post-row-two {
        flex-direction: row;
    }
    .portfolio-detail .post-row-two section {
        width: 50%;
    }

    .portfolio-detail img:not(picture img) {
        max-width: 1000px;
        margin: 25px auto;
    }
}