/* Variables referenced in other CSS files */
:root {
    /* Colors */
    --gray: #cacaca;
    --white: #ffffff;
    --off-white: #ddfff7;
    --medium: #93e1d8;
    --dark: #135695;
    --off-black: #1b264f;
    --black: #000000;
    --accent: #ffd1ba;
    --error: rgb(255, 53, 66);
    --link: #00478A;
    --link-dark-mode: #5FA8EC;

    /* Fonts */
    --headingFont: "Teachers", "Times New Roman", serif;
    --paragraphFont: "Montserrat", "Arial", sans-serif;
    --titleFont: "Belleza", "Teachers", "Times New Roman", serif;
    --font-size-medium: 1.125rem; /*body text, 18px on 16px base font size*/
    --font-size-large: 1.5rem; /*h3 text, 24px on 16px base font size*/
    --font-size-x-large: 1.875rem; /*h2 text, 30px on 16px base font size */
    --font-size-xx-large: 2.25rem; /*h1 text, 36px on 16px base font size*/
    --font-size-xxx-large: 4rem; /*hero text, 64px on 16px base font size*/
    --font-size-normal: 1rem;
    --line-height: 1.5;
    --desktop-width: 1200px;
}